 .custom-content-scroller {
    position: relative;
    overflow: hidden;
    height: 200px;
    width: 100%;
}

.scroller-content {
    position: absolute;
    width: 100%;
}

@media (max-width: 768px) {
    .custom-content-scroller {
        height: 100px;
    }
}

.custom-content-scroller:hover .scroller-content {
    animation-play-state: paused;
   
}
